@import "node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 0.5vw);
}
/* common styles */
.small-avatar {
  width: 50px;
}
.big-avatar {
  width: 75px;
}
.avatar {
  border-radius: 100%;
}
.icon {
  width: 30px;
}

#container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  height: 100vh;
}

/* header styles */

header {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 35px;
  padding: 30px;
  -webkit-box-shadow: 0px 13px 13px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 13px 13px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 13px 13px -7px rgba(66, 68, 90, 0.4);
}
#header-top {
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
#header-top-left {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 20px;
}
#header-top-left input {
  border-radius: 20px;
  height: 40px;
  border: none;
  background-color: #e2e8f0b9;
  padding-left: 20px;
  -moz-transition: outline-color 0.4s ease-out;
  -o-transition: outline-color 0.4s ease-out;
  -webkit-transition: outline-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  transition: outline-color 0.4s ease-out;
  outline: 1px solid #94a3b800;
  max-width: 800px;
}
#header-top-left input:focus {
  outline: 1px solid #94a3b8;
  background-color: #e2e8f0;
}
#header-top-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
#header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-bottom-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header-bottom-left p {
  font-size: 0.75rem;
}
#header-bottom-left h2 {
  font-size: 1.35rem;
}
#header-bottom-right {
  display: flex;
  gap: 40px;
}

#header-bottom-right button {
  border-radius: 25px;
  border: none;
  width: 150px;
  height: 50px;
  background-color: #0ea4e9ce;
  color: white;
  transition: background-color 0.3s ease;
  transition: box-shadow 0.3s ease;
}
#header-bottom-right button:hover {
  box-shadow: 0 4px 6px 1px #6cc6f05e;
  background-color: #0ea5e9;
  cursor: pointer;
}
#sidebar {
  grid-row: 1 / 3;
  background-color: #0ea5e9;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
#logo svg {
  width: 60px;
  fill: white;
}
#logo h1 {
  font-size: 1.5rem;
}
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
.link + .link {
  margin-top: 25px;
}
.link a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}
main {
}
